<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic Deveices</title>
    <link rel="stylesheet" href="static/product/css/style.css">

</head>
<body>
    <ul>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/toys">Toys</a></li>
        <li><a href="/electronic">Electronic</a></li>
        <li><a href="/shoes">Men's Shoes</a></li>
        <li><a href="/headphone"> Head Phones</a></li>
        <li><a href="/homelifestyle">Women's Shoes</a></li>
        <li><a href="/icon">icon</a></li>

       
    </ul>
    <div class="container">
        <h1>Smart Phones's Collections</h1>
        <div class="men-collections">
            <img src="static/product/images/phone (1).jpg" alt="">
            <img src="static/product/images/phone (1).jpg" alt="">
            <img src="static/product/images/phone (1).webp" alt="">
            <img src="static/product/images/phone (2).jpeg" alt="">
            <img src="static/product/images/phone (2).webp" alt="">
            <img src="static/product/images/phone (3).webp" alt="">
            <img src="static/product/images/phone (4).webp" alt="">
            <img src="static/product/images/phone (5).webp" alt="">
            <img src="static/product/images/phone (6).webp" alt="">
            <img src="static/product/images/phone (7).webp" alt="">
            <img src="static/product/images/phone (8).webp" alt="">

            <img src="static/product/images/i phone (1).webp" alt="">
            <img src="static/product/images/i phone (3).webp" alt="">
            <img src="static/product/images/i phone (4).webp" alt="">
            <img src="static/product/images/i phone.jpeg" alt="">
            <img src="static/product/images/i phone.jpeg" alt="">
            
        </div>
    </div>
</body>
</html>