<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icon</title>
    <link rel="stylesheet" href="static/product/css/style.css">

</head>
<body>
    <ul>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/toys">Toys</a></li>
        <li><a href="/electronic">Electronic</a></li>
        <li><a href="/shoes">Men's Shoes</a></li>
        <li><a href="/headphone"> Head Phones</a></li>
        <li><a href="/homelifestyle">Women's Shoes</a></li>
        <li><a href="/icon">icon</a></li>


    </ul>
    <div class="container">
        <h1>Icon's</h1>
        <div class="men-collections icon-all">
            <img src="/static/product/images/icon/man.png" alt="">
            <img src="/static/product/images/icon/woman.png" alt="">
            <img src="/static/product/images/icon/sports.png" alt="">
            <img src="/static/product/images/icon/toys.png" alt="">
            <img src="/static/product/images/icon/responsive.png" alt="">
            <img src="/static/product/images/icon/shoe.png" alt="">
            <img src="/static/product/images/icon/headphones.png" alt="">
            <img src="/static/product/images/icon/womanshoe.png" alt="">

        </div>
    </div>

    
</body>
</html>