<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../static/css/style.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <!-- <link rel="stylesheet" href="static/Product/css/style.css"> -->
    <link rel="stylesheet" href="static/product/css/style.css">
</head>
<body>
    <ul>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/toys">Toys</a></li>
        <li><a href="/electronic">Electronic</a></li>
        <li><a href="/shoes">Men's Shoes</a></li>
        <li><a href="/headphone"> Head Phones</a></li>
        <li><a href="/homelifestyle">Women's Shoes</a></li>
        <li><a href="/icon">icon</a></li>
        <li><a href="/catagory">catagory</a></li>
       
    </ul>
    <div class="slider">
        <!-- <div class="slide"> -->
            <img src="static/product/images/shop-online-slider-template-4f2c60.webp" alt="">
            <img src="static/product/images/modern-sale-banner-website-slider-template-design_54925-46.webp" alt="">
            <img src="static/product/images/aa5b7c80ff2c80f764e2cabf5492a701-buy-online-slider-template.webp" alt="">
        <!-- </div> -->
    </div>

    <!-- <h1 class="heading">Hello Product</h1> -->
    <!-- <img src="./images/3_27261057-9999-466e-a40f-22b28e7b3ab5.webp" alt=""> -->
<!-- <div class="images"> -->
    <!-- <img src="static/product/images/3_27261057-9999-466e-a40f-22b28e7b3ab5.webp" alt=""> -->
    <!-- <img src="static/product/images/3_27261057-9999-466e-a40f-22b28e7b3ab5.webp" alt=""> -->
    <!-- <img src="static/product/images/3_27261057-9999-466e-a40f-22b28e7b3ab5.webp" alt=""> -->
<!-- </div> -->



    <!-- <script src="../../static/js/script.js" type="javascript"></script> -->
    <script src="static/product/js/script.js" type="text/javascript"></script>
</body>
</html>