<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Collections</title>
    <link rel="stylesheet" href="static/product/css/style.css">

</head>
<body>
    <ul>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/toys">Toys</a></li>
        <li><a href="/electronic">Electronic</a></li>
        <li><a href="/shoes">Men's Shoes</a></li>
        <li><a href="/headphone"> Head Phones</a></li>
        <li><a href="/homelifestyle">Women's Shoes</a></li>
        <li><a href="/icon">icon</a></li>
       
    </ul>
    <div class="container">
        <h1>Woemn's Collections</h1>
        <div class="men-collections">
            <img src="/static/product/images/women (1).jpeg" alt="">
            <img src="/static/product/images/women (1).jpg" alt="">
            <img src="/static/product/images/women (2).jpeg" alt="">
            <img src="/static/product/images/women (3).jpeg" alt="">
            <img src="/static/product/images/women (4).jpeg" alt="">
            <img src="static/product/images/women dres.webp" alt="">
            <img src="static/product/images/women dress.jpeg" alt="">
            <img src="static/product/images/women prod.jpg" alt="">
            <img src="/static/product/images/women (4).jpeg" alt="">
            <img src="static/product/images/women dres.webp" alt="">
            <img src="static/product/images/women dress.jpeg" alt="">
            <img src="static/product/images/women prod.jpg" alt="">
            
    
        </div>
    </div>
</body>
</html>